* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", serif;
}

body {
    background-image: 
    url("https://i.pinimg.com/originals/04/6f/51/046f5145ae962d44679c45198909043a.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
}
.search {
    display: flex;
    flex-direction: column; 
    width: 60%;
    background-color: rgba(60, 156, 212, 0.7);
    color: #fff;
    margin: 2% 20%;
}

.search h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.search form {
    padding-top: 10px;
    padding-left: 30%;
    padding-bottom: 20px;
}
.search form input {
     width: 70%;
     text-align: center;
     margin: -40px;
     border: none;
     outline: none;
     background-color: transparent;
     border: 2px solid #fff;
     border-right: none;
     padding: 5px;
     color: #fff;
}
.search form input::placeholder{
      color: black;
}
.search form button{
     background-color: transparent;
     border: 2px solid #fff;
     border-left: none;
     color: #fff;
     padding: 5px;
     cursor: pointer;
}
@media screen and (max-width: 600px) { 
    .search {
        width: 100%;
        margin: 0;
    }
    .search form input{
       width: 80%;
    } 
}
.currentTemp{
    display: flex;
    width: 60%;
    background-color: rgba(60, 156, 212, 0.7);
    color: #fff;
    margin: -30px 20%;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
}
.temprature-details{
    padding: 20px 150px;
    text-align: center;
}
.temprature-details h1, h2{
    font-size: 20px;
}
 .weatherIcon{
    width: 50px;
    height: 50px;
 
}
.more-details{
     display: inline;
     padding: 30px 0px;
}
.more-details span{
    display: block;
}
@media screen  and (max-width:1024px){
    .currentTemp{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .temprature-details{
       padding: 20px 20px;

    }
    .more-details{
        padding: 20px 20px;
    }
}
.forcast{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.forcast >div{
    background-color: rgba(60, 156, 212, 0.5);
    padding: 20px 20px ;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}
@media screen  and (max-width: 600px){
      .forcast{
        padding: 10px;
        margin-top: 20px;
        gap: 20px;
        justify-content: center;
      }
}